.background {
  background-color:  rgb(219, 219, 219);
  padding: 200px;
}

.avatar {
  margin-left: 0;
}

.apresentacao {
  color: black;
  margin-right: 0;
}

.header{
  align-items: center;
  display:flex;
  justify-content: space-around;
}

.descricao {
  text-align: justify;
}

.espaco {
  padding: 50px;
}

.titulo{
  color: black;
}

.res {
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.titulo1 {
  color: whitesmoke;
}

.flex {
  align-items: center;
  display:flex;
  justify-content: space-around;;
}

.linhadotempo{
  color: whitesmoke;
}
